<section class="customers">
  <div class="container customers__container" id="customers">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers__item">
        <svg class="customers__icons" width="100px" height="16px">
          <use href="./images/svg/icons.svg#stars"></use>
        </svg>
        <p class="customers__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too,I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__box">
          <img
            class="customers__img"
            srcset="
              ./images/png/customer-1@1x-48.png 1x,
              ./images/png/customer-1@2x-96.png 2x
            "
            src="./images/png/customer-1@1x-48.png"
            alt="Man's photo"
          />
          <div>
            <p class="customers__name">Sumith Shah</p>
            <p class="customers__description">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers__item">
        <svg class="customers__icons" width="100px" height="16px">
          <use href="./images/svg/icons.svg#stars"></use>
        </svg>
        <p class="customers__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__box">
          <img
            class="customers__img"
            srcset="
              ./images/png/customer-2@1x-48.png 1x,
              ./images/png/customer-2@2x-96.png 2x
            "
            src="./images/png/customer-2@1x-48.png"
            alt="Woman's photo"
          />
          <div>
            <p class="customers__name">Sumith Shah</p>
            <p class="customers__description">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
