<section class="favorites">
  <div class="container favorites__container" id="favorites">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favs/fav-1@1x-315.jpg 1x,
                ./images/favs/fav-1@2x-630.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favs/fav-1@1x-268.jpg 1x,
                ./images/favs/fav-1@2x-536.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/favs/fav-1@1x-224.jpg 1x,
                ./images/favs/fav-1@2x-448.jpg 2x
              "
            />
            <img src="./images/favs/fav-1@2x-448.jpg" alt="Hamburger" />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favs/fav-2@1x-315.jpg 1x,
                ./images/favs/fav-2@2x-630.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favs/fav-2@1x-268.jpg 1x,
                ./images/favs/fav-2@2x-536.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/favs/fav-2@1x-224.jpg 1x,
                ./images/favs/fav-2@2x-448.jpg 2x
              "
            />
            <img src="./images/favs/fav-2@2x-448.jpg" alt="Pasta" />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a class="favorites__link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favs/fav-3@1x-315.jpg 1x,
                ./images/favs/fav-3@2x-630.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favs/fav-3@1x-268.jpg 1x,
                ./images/favs/fav-3@2x-536.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/favs/fav-3@1x-224.jpg 1x,
                ./images/favs/fav-3@2x-448.jpg 2x
              "
            />
            <img src="./images/favs/fav-3@2x-448.jpg" alt="Pizza" />
          </picture>
        </a>
      </li>
      <li class="favorites__item favorites__item--hidden">
        <a class="favorites__link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favs/fav-4@1x-315.jpg 1x,
                ./images/favs/fav-4@2x-630.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favs/fav-4@1x-268.jpg 1x,
                ./images/favs/fav-4@2x-536.jpg 2x
              "
            />
            <img src="./images/favs/fav-4@2x-536.jpg" alt="Chicken" />
          </picture>
        </a>
      </li>
      <li class="favorites__item favorites__item--hidden">
        <a class="favorites__link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favs/fav-5@1x-315.jpg 1x,
                ./images/favs/fav-5@2x-630.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favs/fav-5@1x-268.jpg 1x,
                ./images/favs/fav-5@2x-536.jpg 2x
              "
            />
            <img src="./images/favs/fav-5@2x-536.jpg" alt="Salad" />
          </picture>
        </a>
      </li>
      <li class="favorites__item favorites__item--hidden">
        <a class="favorites__link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favs/fav-6@1x-315.jpg 1x,
                ./images/favs/fav-6@2x-630.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favs/fav-6@1x-268.jpg 1x,
                ./images/favs/fav-6@2x-536.jpg 2x
              "
            />
            <img src="./images/favs/fav-6@2x-536.jpg" alt="Borshch" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
