<header class="header">
  <div class="container header__container">
    <a
      class="header__logo"
      href="https://paulhighrow.github.io/goit-markup-scp-2268-project/"
      aria-label="FoodSta"
    >
      <img
        src="./images/svg/logo.svg"
        alt="FoodSta Logo"
        width="66"
        height="52"
      />
    </a>
    <nav class="nav" data-nav-mobile>
      <ul class="nav__list">
        <li><a class="nav__link" href="#hero">Home</a></li>
        <li><a class="nav__link" href="#offerings">About</a></li>
        <li><a class="nav__link" href="#customers">Service</a></li>
        <li><a class="nav__link" href="#favorites">Menu</a></li>
        <li><a class="nav__link" href="#subscribe">Contact</a></li>
      </ul>
      <button class="close" type="button" data-menu-close>
        <svg class="close__icon" aria-label="Mobile menu switch">
          <use href="./images/svg/icons.svg#close"></use>
        </svg>
      </button>
    </nav>
    <button class="btn header__btn" type="button" data-modal-open>
      Order Now
    </button>
    <button class="menu" type="button" data-menu-open>
      <svg class="menu__icon" aria-label="Mobile menu switch">
        <use href="./images/svg/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
