<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero-pos">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button type="button" class="btn" data-modal-open>Order Now</button>
    </div>
    <div class="swiper-pos">
      <div class="swiper mySwiper">
        <a class="swiper-button-prev"></a>
        <a class="swiper-button-next"></a>
        <div class="swiper-wrapper">
          <div class="swiper-slide customer-item">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider/slider-1@1x-528.jpg  1x,
                  ./images/slider/slider-1@2x-1056.jpg 2x
                "
              />
              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/slider/slider-1@1x-292.jpg 1x,
                  ./images/slider/slider-1@2x-584.jpg 2x
                "
              />
              <img
                class="swiper-slide__img"
                src="./images/slider/slider-1@2x-1056.jpg"
                alt="Блюдо 1"
                width="528"
                height="528"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider/slider-2@1x-528.jpg  1x,
                  ./images/slider/slider-2@2x-1056.jpg 2x
                "
              />
              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/slider/slider-2@1x-292.jpg 1x,
                  ./images/slider/slider-2@2x-584.jpg 2x
                "
              />
              <img
                class="swiper-slide__img"
                src="./images/slider/slider-2@2x-1056.jpg"
                alt="Блюдо 2"
                width="528"
                height="528"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- Desktop -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/slider/slider-3@1x-528.jpg  1x,
                  ./images/slider/slider-3@2x-1056.jpg 2x
                "
              />
              <!-- Tablet -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/slider/slider-3@1x-292.jpg 1x,
                  ./images/slider/slider-3@2x-584.jpg 2x
                "
              />
              <img
                class="swiper-slide__img"
                src="./images/slider/slider-3@2x-1056.jpg"
                alt="Блюдо 3"
                width="528"
                height="528"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
